<%- include ('template/header') %>
<div class="container">
  <form id="update_user_record">
    <div class="form-group">
      <label for="first_name">First Name:</label>
      <input type="hidden" class="form-control" id="edit_id" name="edit_id" value="<%= edit_data[0].WORKER_ID %>">
      <input type="text" class="form-control" id="first_name" placeholder="Enter email" name="first_name" value="<%= edit_data[0].FIRST_NAME %>">
    </div>
    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input type="text" class="form-control" id="last_name" placeholder="Enter password" name="last_name" value="<%= edit_data[0].LAST_NAME %>">
    </div>
    <div class="form-group">
      <label for="salary">Salary:</label>
      <input type="text" class="form-control" id="salary" placeholder="Enter password" name="salary" value="<%= edit_data[0].SALARY %>">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
<%- include ('template/footer') %>
