<!DOCTYPE html>
<html lang="en">
<head>
  <title><%=sitetitle%></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h2><%=pagetitle%></h2>
    <a href="add_record_form" class="btn btn-primary">Add Record</a>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Salary</th>
        <th>Deparment</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <%worker_data.forEach(function(item){%>
      <tr>
        <td><%= item.WORKER_ID %></td>
        <td><%= item.SALARY %></td>
        <td><%= item.DEPARTMENT%></td>
        <!-- <td<%= item.JOINING_DATE %></td> -->
        <td><a href="edit_record/<%=item.WORKER_ID%>" class="btn btn-primary">Edit</a>|
        <button type="button" class="btn btn-danger delete_record" data-id="<%= item.WORKER_ID %>">Delete</button></td>
      </tr>
    <% }); %>
    </tbody>
  </table>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/custom.js"></script>
  <script src="/reload/reload.js"></script>
</body>
</html>
